
.header-position {
  height: 520px;
  padding-top: 120px;
  background-color: #ffbc1f;
  background-image: url("/images/arches.png")
}

.header-position .header-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-name{
  display: flex;
  justify-content: center;
  color: white; 
  font-weight: lighter;
}
.header-name .last-name{
  font-weight: lighter;
}
