
.header-position {
  flex-grow: 1;
  height: 200px;
  background-color: #ffbc1f;
  background-image: url("/images/arches.png");
  display: flex;
  justify-content: center;
  align-items: center;
}


.header-position .header-avatar img{
  padding-top: 80px;
  width: 100px;
}

.header-name{
  display: flex;
  justify-content: center;
  color: white; 
  font-weight: lighter;
  padding-top: 80px;
}
.header-name .last-name{
  font-weight: lighter;
}

@media screen and (min-width: 768px) {
  .header-position {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-position .header-avatar img{
    padding-top: 80px;
    width: 300px;
  }
  .header-name {
    padding-top: 0;
  }
}