.navbar-top {
  position: fixed;
  height: 80px;
  width: 100vw;
  background-color: #ffbc1f;
  background-image: url("/images/arches.png");
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-top .navbar-brand {
  font-family: 'Bungee', cursive, sans-serif;
  font-size: 2rem;
}

.navbar-top .navbar-add {
  padding-top: 1em;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input-button {
  all: unset;
}
#input-button i {
  color: white;
  font-size: large;
}
#input-button i:hover {
  color: royalblue;
  transform: translate(0, 3px);
}

@media screen and (min-width: 768px) {
  .navbar-top {
    background-color: #4056A1;
    height: 120px;
  }
  #input-button i {
    color: antiquewhite;
    font-size: x-large;
  }
  #input-button i:hover {
    color: gold;
  }
  .navbar-top .navbar-brand {
    padding-top: 36px;
    font-size: 48px;
  }
  .navbar-top .navbar-add {
    padding-top: 1em;
    font-size: 28px;
  }
}
