main {
  padding-left: 5%;
  padding-right: 5%;
}

.new-tweet {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main form {
  display: none;
  width: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 2em;
}

#tweet-text {
  resize: none;
  overflow-y: hidden;
  height: 1.5em;
  width: 100%;
  background: transparent;
  border-color: transparent;
  border-bottom-color: black;
  border-bottom-width: thick;
}
#tweet-text:focus {
  outline: none;
}

.tweet-button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', cursive, sans-serif;

  border-left-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  padding-left: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 13px;
}
.tweet-button:hover {
  background-color:goldenrod;
}
.tweet-button:active {
  background-color: forestgreen;
}

.remainings {
  font-family: 'Bungee', cursive, sans-serif;
}
.neg-remainings {
  font-family: 'Bungee', cursive, sans-serif;
  color: red;
}

.new-tweet .error-message {
  display: none;
  font-size: medium;
  color: red;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.tweet {
  width: 100%;
  height: 100%;
  padding-top: 1.5em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border-style: solid;
  border-width: thick;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* tweet boxes */
article:hover {
  box-shadow: 10px 10px rgb(198, 198, 198);
}
article.tweet header {
  padding-right: 0.5em;
  padding-left: 0.5em;

  display: flex;
  align-items: center;
  
}
article.tweet header div {
  display: flex;
  align-items: center;
 }
article.tweet img {
  width: 40px;
}
article.tweet p {
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-top: 0.5em;
  font-weight: bold;
}
article.tweet header span {
  color:#cacaca;
  font-weight: bold;

}
article.tweet footer {
  border-top-style: inherit;
  border-top-width: thick;
}
article.tweet footer div {
  font-size: medium;
  padding-top: 0.5em;
  padding-left: 0.5em;
}
article.tweet footer i {
  font-size: medium;
  padding-right: 0.5em;
  padding-top: 0.5em;
  color: #4056A1;
}
article.tweet footer i:hover {
  color: rgb(199, 169, 0);
}

@media screen and (min-width: 768px) {
  main {
    padding-right: 1.5em;
    padding-left: 1.5em;
  }
}